<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :hintcount %><br />
    <%= f.number_field :hintcount %>
  </div>

  <div class="field">
    <%= f.label :starttime %><br />
    <%= f.datetime_local_field :starttime %>
  </div>

  <div class="field">
    <%= f.label :endtime %><br />
    <%= f.datetime_local_field :endtime %>
  </div>

  <div class="field">
    <%= f.label :theme_id %>
    <%= f.collection_select :theme_id, Theme.order(:id), :id, :name %>
  </div>

  <div id="team" class="field">
    팀선택
    
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>

<script>
  function getteam(themeid) {
    var html = "<select name=\"player[team_id]\" id=\"player_team_id\"></select>";
    if ($('#player_team_id').empty())
      $('#team').append(html);
    $.ajax({
      type: "GET",
      url: '/getteam/1',
      dataType: 'json',
      success: function(data) {
        $.each(data, function(index, element) {
          var html="<option value=\"" + element.id + "\">" + element.name + "</option>"
          $('#player_team_id').append(html);
        });
      }
    });
  }

  getteam($('#player_theme_id').val());
  
  $('#player_theme_id').change(function() {
    var themeid = $(this).val();
    getteam(themeid);
  });
</script>