<div class="row">
  <div class="wrap">
    <div class="countdown text-center">
      <div class="time-circle">
        <div class="progress"></div>
        <span class="time hours"></span>
        <span class="time-name">hrs</span>
      </div>
      <span class="dots">:</span>
      <div class="time-circle">
        <div class="progress"></div>
        <span class="time minutes"></span>
        <span class="time-name">min</span>
      </div>
      <span class="dots">:</span>
      <div class="time-circle">
        <div class="progress"></div>
        <span class="time seconds"></span>
        <span class="time-name">sec</span>
      </div>
    </div>
  </div>
</div>

<div id="endtime" data-year="<%= @times[0] %>" data-month="<%= @times[1] %>" data-day="<%= @times[2] %>" data-hour="<%= @times[3] %>" data-min="<%= @times[4] %>" data-sec="<%= @times[5] %>">
</div>
