<div class="game">
  <div class="timer"><%= render partial: 'count', left_time: @left_time %></div>
  <div style="position: absolute;">
    <img src="<%= @current_stage.q_img %>" width="100%" >
  </div>
  <%= render partial: "stage/themes/#{current_player.theme_id}/#{current_player.team_id}/#{current_player.currentstage}", stage: current_player.currentstage %>
  <div class="clearboth"></div>
  <div id="hint-img" onclick="get_hint();" data-hint-count="<%= current_player.hintcount %>">
    <img src="https://s3.ap-northeast-2.amazonaws.com/codename-seoul/hint.png" alt="hint">
  </div>
  <div id="help-img" onclick="before_help();" data-hint-count="<%= current_player.hintcount %>">
    <img src="https://s3.ap-northeast-2.amazonaws.com/codename-seoul/help.png" alt="help">
  </div>

  <div class="clearfix"></div>

  <div id="hint" style="margin-top: 50px;"></div>
  <div id="help" style="margin-top: 50px;"></div>

</div>
