<div class="game">
  <div class="timer"><%= render partial: 'count', left_time: @left_time %></div>
  <div class="question_img" style="position:absolute;">
    <img src="<%= @current_stage.q_img %>" width="100%" >
  </div>
  <%= render partial: "stage/themes/#{current_player.theme_id}/#{current_player.team_id}/#{current_player.currentstage}", stage: current_player.currentstage %>
  <% # unless @current_stage.hint_viewed %>
  <% # end %>
  <div id="hintandhelp" style="position: absolute; top:100vh;">
    <div id="hint">
      <% if @current_stage.hint_viewed %>
        <!-- <img src="<%= @current_stage.hint_img %>" style="width: 100%;"> -->
      <% end %>
    </div>
    <div id="help">
      <% if @current_stage.help_viewed %>
        <!-- <img src="<%= @current_stage.help_img %>" style="width: 100%;"> -->
      <% end %>
    </div>
  </div>
  <div id="hint-img" onclick="get_hint();" data-hint-count="<%= current_player.hintcount %>">
    <img src="https://s3.ap-northeast-2.amazonaws.com/codename-seoul/hint.png" alt="hint">
  </div>
  <% # end %>
  <% # unless @current_stage.help_viewed %>
  <div id="help-img" onclick="before_help();" data-hint-count="<%= current_player.hintcount %>">
    <img src="https://s3.ap-northeast-2.amazonaws.com/codename-seoul/help.png" alt="help">
  </div>
</div>
